
/*=== Spinner ===*/

.loader__spinner {
	position: relative;
	display: block;
	width: 150px;
	margin: 30px auto 40px auto;
}

.loader__spinner--svg {
	display: block;
	border-radius: 50%;
}

.spinner-active .loader__spinner--svg {
	animation: transferSpin 2s linear 0s infinite
}

.spinner-active.spinner-paused .loader__spinner--svg,
.spinner-active.spinner-cancelled .loader__spinner--svg {
	animation-play-state: paused;
}

.spinner-active.spinner-cancelled .loader__spinner--svg {
	opacity: 1;
}

.spinner-completed .loader__spinner--svg {
	animation: unset;
}

@keyframes transferSpin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.loader__spinner--svg-foreground {
	opacity: 0;
}
.spinner-active .loader__spinner--svg-foreground,
.spinner-cancelled .loader__spinner--svg-foreground,
.spinner-completed .loader__spinner--svg-foreground {
	opacity: 1;
}

/* % Text */

.loader__spinner--percent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
	margin-left: 5px;
	width: 100%;
	font-size: 60px;
	line-height: 1;
	text-align: center;
	letter-spacing: -2px;
	opacity: 1;
	transition: opacity .2s ease;
}
.loader__spinner--percent-icon {
	display: inline-block;
	margin: 10px 0 0 3px;
	font-size: 18px;
	vertical-align: text-top;
	opacity: 0.5;
}

.spinner-completed .loader__spinner--percent {
	opacity: 0;
}

/* Check Mark */

.loader__spinner--complete {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
	width: 100%;
	margin: 14px 0 0 14px;
}
.spinner-completed .loader__spinner--complete {
	display: initial;
}

.spinner-completed .loader__spinner--complete-path {
	stroke-dasharray: 1000;
	stroke-dashoffset: -100;
	animation: completeCheck .9s .35s ease-in-out forwards;
}

@keyframes completeCheck {
	0% {
		stroke-dashoffset: -100;
	}
 	100% {
		stroke-dashoffset: 900;
	}
}
